root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
args_bin = []
bin = "./tmp/main"
cmd = "go build -o ./tmp/main ./cmd/web/"
delay = 100
exclude_dir = [
  "assets",
  "tmp",
  "vendor",
  "testdata",
  "node_modules",
  "static/dist/",
  "internal/orm",
]
exclude_file = []
exclude_regex = ["_test.go", "_templ.go"]
exclude_unchanged = true
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "tpl", "tmpl", "templ", "html", "ts", "css", "sql"]
include_file = []
kill_delay = "0s"
log = "build-errors.log"
poll = false
poll_interval = 0
post_cmd = []
pre_cmd = [
  "bun build ./static/src/index.ts --outdir ./static/dist/ --minify --splitting",
  "bun tailwindcss -i ./static/src/index.css -o ./static/dist/index.css",
  "templ generate",
  "sqlc generate",
]
rerun = false
rerun_delay = 500
send_interrupt = false
stop_on_error = false

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
silent = false
time = false

[misc]
clean_on_exit = true

[proxy]
app_port = 0
enabled = false
proxy_port = 0

[screen]
clear_on_rebuild = false
keep_scroll = true
