[env]
_.file = { path = ".env", tools = true, redact = true }

[tasks]
compose = "podman-compose"
"compose:up" = "podman-compose up -d"
"compose:down" = "podman-compose down"
db = "dbmate"
"db:reset" = ["dbmate drop", "mise run db:migrate"]
"db:wait" = "dbmate wait"

[tasks.dev]
depends = ["compose:up", "db:wait"]
run = "air"

[tasks."db:generate"]
depends = "db:wait"
run = "sqlc generate"

[tasks."db:migrate"]
depends = "db:wait"
run = ["dbmate up", "mise run db:clean-schema-file"]

[tasks."db:rollback"]
depends = "db:wait"
run = ["dbmate rollback", "mise run db:clean-schema-file"]

[tools]
go = "latest"
golangci-lint = "latest"
"github:air-verse/air" = "latest"
"github:amacneil/dbmate" = "latest"
"github:sqlc-dev/sqlc" = "latest"
sd = "latest"
"github:a-h/templ" = "latest"

[vars]
db_container_name = "erp-db"
