[tools]
bun = "latest"
uv = "latest"
"ubi:F1bonacc1/process-compose" = "latest"
age = "latest"
sops = "latest"

[env]
_.file = ".env.json"
DJANGO_DEBUG = true
NODE_ENV = "{{ env.NODE_ENV | default(value='development') }}"

[hooks]
postinstall = ['uv sync --directory ./backend/', 'bun install']

[tasks]
update = ['uv sync --upgrade --directory ./backend/', 'bun update']
manage = "uv run ./backend/manage.py"
dev = "process-compose"
format = ["mise run ruff format .", "bun format"]
lint = ["mise run ruff check .", "bun lint"]
generate_secret_key = "uv run --with django python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'"
edit_secrets = "sops edit .env.json"
ruff = "uv run --directory ./backend/ ruff"

[settings]
experimental = true
python.uv_venv_auto = true
pipx.uvx = true
