[env]
DATABASE_URL = "sqlite:{{ config_root }}/db.sqlite3"
DBMATE_WAIT = true

[tools]
biome = "2.2.4"
bun = "latest"
go = "latest"
"go:github.com/a-h/templ/cmd/templ" = "latest"
"go:github.com/air-verse/air" = "latest"
"go:github.com/amacneil/dbmate" = "latest"
"go:github.com/sqlc-dev/sqlc/cmd/sqlc" = "latest"
"go:github.com/templui/templui/cmd/templui" = "latest"
"go:golang.org/x/tools/gopls" = "latest"
sqlite = "latest"

[tasks]
clean = "rm -rf ./node_modules/ ./tmp/ ./static/dist/"
dev = "air"
install-deps = ["bun install", "go mod tidy"]
reset = ["mise run clean", "mise run install-deps"]

[hooks]
postinstall = "mise run install-deps"
