[env]
_.file = { path = ".env", tools = true, redact = true }

[tasks]
"compose:up" = "podman-compose up -d"
"compose:down" = "podman-compose down"

[tasks.dev]
depends = "compose:up"
run = ["dbmate wait", "air"]

[tools]
go = "latest"
golangci-lint = "latest"
"github:air-verse/air" = "latest"
"github:amacneil/dbmate" = "latest"

[vars]
db_container_name = "erp-db"
