[env]
_.file = { path = ".env", tools = true, redact = true }

[tasks]
compose = "podman-compose"
"compose:up" = "podman-compose up -d"
"compose:down" = "podman-compose down"
db = "dbmate"

[tasks.dev]
depends = "db:wait"
run = "air"

[tasks."db:generate"]
depends = "db:wait"
run = "sqlc generate"

[tasks."db:migrate"]
depends = "db:wait"
depends_post = "db:clean-schema-file"
run = "dbmate up"

[tasks."db:reset"]
run = ["dbmate drop", { task = "db:migrate" }]

[tasks."db:rollback"]
depends = "db:wait"
run = "dbmate rollback"
depends_post = "db:clean-schema-file"

[tasks."db:wait"]
depends = "compose:up"
run = "dbmate wait"

[tools]
go = "latest"
golangci-lint = "latest"
"github:air-verse/air" = "latest"
"github:amacneil/dbmate" = "latest"
"github:sqlc-dev/sqlc" = "latest"
sd = "latest"
"github:a-h/templ" = "latest"
biome = "latest"
"go:golang.org/x/tools/gopls" = "latest"

[vars]
db_container_name = "erp-db"
