[tools]
air = "latest"
biome = "latest"
go = "latest"
"go:golang.org/x/tools/gopls" = "latest"
golangci-lint = "latest"

[tasks.dev]
run = "air"

[tasks.clean]
run = "rm -rf ./tmp ./vendor"

[tasks.lint]
run = ["golangci-lint run", "biome lint"]

[tasks."lint:fix"]
run = ["golangci-lint run --fix", "biome check --fix"]

[hooks]
postinstall = "go mod tidy"
