package templates

templ Index(usersCount int) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>ERP</title>
			<link rel="stylesheet" href="/static/index.css"/>
		</head>
		<body>
			<h1 class="text-4xl">Hello, World!</h1>
			<h2>No of users: { usersCount }</h2>
		</body>
	</html>
}
