package pages

import (
	"github.com/arunim-io/erp/internal/templates/components/ui/button"
	"github.com/arunim-io/erp/internal/templates/layouts"
)

templ Index(usersCount int) {
	@layouts.Root() {
		<main class="space-y-10 p-5">
			@button.Button(button.Props{Href: "/login"}) {
				Go to Login
			}
			@button.Button(button.Props{Href: "/register"}) {
				Go to Register
			}
		</main>
	}
}
